# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib
*.key
*.keyinfo
*.pem
*.pub

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Project-local glide cache, RE: https://github.com/Masterminds/glide/issues/736
.glide/

# main test
main-test.go

# IDE
.DS_Store
.vscode
.idea

# Go
vendor
bin
build
*.log
*.out
*.test
*.prof
*.cover

# OS
*.DS_Store
*.swp
*.lock
*.tmp
*.bak

# others
**/results
**/*.json
