version: 2
jobs:
  build:
    docker:
      # specify the version
      - image: circleci/golang:1.11
        environment:
          GO111MODULE: "on"

    working_directory: /go/src/github.com/{{ORG_NAME}}/{{REPO_NAME}}
    steps:
      - checkout

      # specify any bash command here prefixed with `run: `
      - run: go mod vendor
      - run: go test -v ./tests/...